@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//CSS variable 

$main-bg: #55c374;
$soft-bg: #f7f7f7c1;
$dark-bg: #333;

$main-color: #333;
$soft-color: #f7f7f7;
$dark-color: #333;

$green: #166916;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $main-bg;
    color: $main-color;
    font-size: 1.5rem;
        p{
            margin-bottom: 2rem;
            text-align: center;
        }
}

h1
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: $soft-bg;
    text-align: center;
    margin-bottom: .1rem;
    text-transform: uppercase;
}

span
{
    font-size: 1rem;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: $main-bg;
    color: $main-color;
    font-size: 1.5rem;

    .layout-container {
        width: 100%;
        max-width: 600px;
        padding: 2rem;
        background-color: $soft-bg;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        min-height: 400px;
    }
  
}

.league-navbar {
  // background-color:; // Light grey background
  display: flex; // Use inline-flex if .league-navbar should only be as wide as its content
  justify-content: center; // Centers the child elements horizontally
  align-items: center; // Centers the child elements vertically
  // padding: 10px;
  margin: 0 auto; // Important for horizontal centering if not using flexbox in the parent

  a {
    // margin-right: 10px;
    text-decoration: none;
    padding: 10px;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}


form{
    label{
        display: block;
        font-size: 1rem;
    }

    input{
        background-color: $dark-bg;
        color: $soft-color;
        border: none;
        outline: none;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 2rem;
        margin-bottom: 1rem;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: $green;
        border: none;
        color: $main-bg;
        border-radius: 2rem;
        cursor: pointer;
        transition: 0.25s ease;

        &:hover{
            background-color: rgba($color: $green, $alpha: 0.9);
        }
    }
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background-color: #333;
    list-style: upper-alpha;   
  }
  .nav-items {
    display: flex;
  }
  
  .nav-items a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
  }
  
  .nav-items.left {
    flex: 1;
    justify-content: flex-start;
  }
  
  .nav-items.right {
    flex: 1;
    justify-content: flex-end;
  }
  
  .nav-items a:hover {
    text-decoration: underline;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    // background-color: #555;
  }

  
footer {
    position: relative;
    width: 100%;
    background-color: #b8b9c3;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  
    .leftFooter,
    .midFooter,
    .rightFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      h4, h1 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
      }
  
      p {
        margin: 0.5rem 0;
        font-size: 1rem;
      }
    }
  }
