@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//CSS variable 

$main-bg: #006747;
$soft-bg: #f7f7f7c1;
$dark-bg: #333;

$main-color: #333;
$soft-color: #f7f7f7;
$dark-color: #333;

$green: #166916;

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $main-bg;
    color: $main-color;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
        p{
            margin-bottom: 2rem;
            text-align: center;
        }
}

h1
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: $soft-bg;
    text-align: center;
    margin-bottom: .1rem;
    text-transform: uppercase;
}

span
{
    font-size: 1rem;
}

// .layout-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.app {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: $main-bg;
    color: $main-color;
    font-size: 1.5rem;
}

.form-container {
      width: 100%;
      max-width: 800px;
      padding: 2rem;
      background-color: $soft-bg;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      min-height: 400px;
      display: flex;
      flex-direction: column;

  }
  

.league-navbar {
  display: flex;
  justify-content: center;

  a {
    // text-decoration: none;
    padding: 8px;
    color: #ffffff;

    &:hover {
      text-decoration: underline;
    }
  }
}

form{
    label{
        display: block;
        font-size: 1rem;
    }

    input{
        background-color: $dark-bg;
        color: $soft-color;
        border: none;
        outline: none;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 2rem;
        margin-bottom: 1rem;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: $green;
        border: none;
        color: $main-bg;
        border-radius: 2rem;
        cursor: pointer;
        transition: 0.25s ease;

        &:hover{
            background-color: rgba($color: $green, $alpha: 0.9);
        }
    }
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: #333;
    list-style: upper-alpha;
    align-content: space-around; 
    padding: 0 1rem;  
  }
  .nav-items {
    display: flex;
  }
  
  .nav-items a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
  }
  
  .nav-items.left {
    flex: 1;
    justify-content: flex-start;
  }
  
  .nav-items.right {
    flex: 1;
    justify-content: flex-end;
  }
  
  .nav-items a:hover {
    text-decoration: underline;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
footer {
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: auto;
    
  
    .leftFooter,
    .midFooter,
    .rightFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      h4, h1 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
      }
  
      p {
        // margin: 0.5rem 0;
        font-size: 1rem;
      }
    }
  }

  


.schedule-container {
    padding: 10px;
    margin: auto;
    min-width: 1024px;
    max-width: 1536;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Optional: adds a subtle shadow for depth
    

    .layout-container {
      min-width: 1024px;
      // padding: 2rem;
      background-color: #ffffffc1;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      min-height: 400px;

        .save-button {
          margin: 20px; // Space above the button
          display: block; // Ensure the button is a block element to take width properties
          width: max-content; // The button width is as big as its content
          margin-left: auto; // Center align the button by automatically adjusting left margin
          margin-right: auto; // Center align the button by automatically adjusting right margin
        }
}
  
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ddd;
      
      
      th, td {
        text-align: center;
        padding: 25px;
        border-bottom: 3px solid #ddd; // Adds a bottom border to each cell
        ;
      }

  
      th {
        background-color: #f4f4f4; // A different background for header cells
      }
  
      tr:hover {background-color: #f5f5f5;} // Optional: highlight rows on hover
    }
  }
  
  
  
  .pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 20px;
  }
  
  .pagination__link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pagination__link--active {
    background-color: #6f7276;
    color: white;
  }
  
  .pagination__link--disabled {
    color: #ccc;
  }
  
  .save-button {
    padding: 12px 24px; // Increase the padding for a larger button size
    font-size: 1.2rem; // Larger text inside the button
    font-weight: bold; // Make the text bold
    color: #fff; // White text color
    background-color: #007BFF; // A bright blue background color
    border: none; // No border for a modern look
    border-radius: 8px; // Rounded corners
    cursor: pointer; // Cursor indicates it's clickable
    transition: background-color 0.3s ease; // Smooth transition for hover effect
  
    &:hover {
      background-color: #0056b3; // Darker blue on hover
    }
  
    &:focus {
      outline: none; // Remove focus outline for aesthetics
      box-shadow: 0 0 0 2px rgba(0,123,255,0.5); // Add a subtle glow effect when focused
    }
  
    &:active {
      transform: scale(0.98); // Slightly scale down when clicked
    }
  }
  